/* No Copyright (-) 2010 The Ampify Authors. This file is under the */
/* Public Domain license that can be found in the root LICENSE file. */

body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", sans-serif;
	font-weight: 300;
	font-size: 1em;
	margin: 0;
	padding: 0;
}

a {
	color: #282;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

a.button {
	background: transparent url('/static/bg_button_a.gif') no-repeat scroll top right;
	color: #444;
	display: block;
	float: right;
	font: normal 12px arial, sans-serif;
	height: 24px;
	margin-right: 6px;
	padding-right: 18px;
	text-decoration: none;
}

a.button:active {
    background-position: bottom right;
    color: #000;
    outline: none;
}

a.button span {
	background: transparent url('/static/bg_button_span.gif') no-repeat;
	display: block;
	line-height: 14px;
	padding: 5px 0 5px 18px;
}

a.button:active span {
    background-position: bottom left;
    padding: 6px 0 4px 18px;
}

a.no-link {
	color: #000;
	text-decoration: none;
}

a.no-link:hover {
	color: #000;
	text-decoration: underline;
}

a.bold-link {
	color: #000;
	text-decoration: none;
	font-weight: bold;
	padding-right: 2px;
}

a.bold-link:hover {
	color: #000;
	text-decoration: underline;
}

code, pre {
	font-family: "Inconsolata", Monaco, monospace;
	font-size: 14px;
}

code {
	background-color: #f0f0f0;
	border: 1px solid #dadada;
	padding: 1px 3px;
	font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Yanone Kaffeesatz", Georgia, serif;
	margin-bottom: 10px;
}

h1 {
	margin-top: 0px;
}

h2 {
	margin-top: 10px;
}

hr.clear {
	clear: both;
	height: 0;
	width: 0;
	margin: 0;
	padding: 0;
	color: #c00;
	background-color: transparent;
	border: 0px solid;
}

input.largetext {
	border: 2px solid #cacaca;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	font-size: 2em;
	padding: 0.5em;
	width: 600px;
}

input.largesubmit {
	margin-top: 20px;
	font-size: 20px;
}

label {
	cursor: pointer;
}

label.largelabel {
	display: block;
	font-family: "Yanone Kaffeesatz", sans-serif;
	font-size: 3em;
	margin: 0.5em 0 0.5em 1.5em;
}

label.largelabel-top {
	margin-top: 0;
}

li {
	padding-top: 10px;
}

pre {
	border-left: 2px solid #cacaca;
	padding-left: 10px;
	margin-left: 20px;
	margin-top: 20px;
}

td {
	padding: 7px;
	vertical-align: top;
	border-top: 1px solid #afa;
}

table {
	line-height: 1.4em;
}

table.build-results td {
	border: 0px;
	padding: 4px 5px;
	margin: 0;
}

.build-pass, .build-fail {
	padding: 6px 7px;
	margin-bottom: 20px;
	float: left;
}

.build-fail {
	margin-bottom: 0px;
}

table.build-results td.pass, .build-pass, .build-pass-bubble {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #afa;
	background-color: #dfd;
	color: #000;
}

table.build-results td.fail, .build-fail, .build-fail-bubble {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #faa;
	background-color: #fdd;
	color: #000;
}

a.build-pass-bubble, a.build-fail-bubble {
	padding: 8px 10px;
	float: left;
	text-decoration: none;
}

a.build-pass-bubble:hover, a.build-fail-bubble:hover {
	border: 1px solid #c8c8cf;
}

tr.header td {
	background-color: #dfd;
	border-top: 1px solid #afa;
	font-weight: bold;
	padding: 7px;
	white-space: nowrap;
}

tr.header-left td {
	border-top: 0px;
}

tr.header-left td.header {
	background-color: #dfd;
	border-right: 1px solid #afa;
	border-top: 1px solid #afa;
	font-weight: bold;
	padding: 7px 10px 7px 10px;
	white-space: nowrap;
	text-align: right;
}


tr.header-small td {
	background-color: #dfd;
	font-size: 0.8em;
	font-weight: bold;
	border-top: 1px solid #afa;
	padding: 7px;
	white-space: nowrap;
	vertical-align: bottom;
	line-height: 1.4em;
}

tr.middle td {
	vertical-align: middle;
}

tr.no-border td {
	border: 0;
}

tr.no-border blockquote {
	margin-bottom: 0;
}

div.patch {
	overflow: auto;
	width: 850px;
	padding: 0;
	margin: 0;
	border: 1px solid #ccc;
	margin: 16px 24px 24px 24px;
}

table.patch {
	font-family: "Inconsolata", Monaco, monospace;
	font-size: 0.9em;
	width: 100%;
}

table.patch td {
	border: 0;
	padding: 0;
	vertical-align: top;
}

table.patch td.note-list {
	padding: 20px 20px 10px 20px;
	background-color: #f8f8ff;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", sans-serif;
	font-weight: 300;
	font-size: 1em;
}

/* the following table.patch styles are adapted from github's css */

table.patch td.patch-title {
	background: #eee url("/static/patch-header.gif") repeat-x;
	color: #333;
	border-bottom: 1px solid #ccc;
	padding: 10px;
	line-height: 33px;
	height: 33px;
	padding: 0 5px;
}

table.patch td.line {
	background-color: #ececec;
	border-right: 1px solid #ddd;
	color: #aaa;
	text-align: right;
	padding: 0px 6px;
}

table.patch td.line a {
	color: #aaa;
	text-decoration: none;
}

tr:hover td.line a {
	color: #666 !important;
}

#changes {
	position: relative;
}

table.patch td.line a:hover {
	text-decoration: underline;
}

table.patch td.del, table.patch td.add, table.patch td.nrm, table.patch td.frag {
	padding: 0 6px;
	width: 800px;
}


table.patch td.frag {
	background-color: #eaf2f5;
	color: #999;
}

table.patch td.binary, table.patch td.action {
	background-color: #f8f8ff;
	color: #999;
	padding: 8px 10px;
}

table.patch td.del {
	background-color: #fdd;
}

table.patch td.del strong {
	background-color: #faa;
}

table.patch td.add {
	background-color: #dfd;
}

table.patch td.add strong {
	background-color: #afa;
}

table.patch td.nrm {
	background-color: #f8f8ff;
}

table.patch pre {
	border: 0;
	padding: 0px;
	margin: 0px;
}

.add-bubble {
	opacity: 0;
	-webkit-transition: opacity 0.1s linear;
	position: absolute;
	margin-left: -80px;
	cursor: pointer;
	display: inline;
	color: #f8f8ff;
	background-color: #3a3a3a;
	padding: 0 6px;
	font-size: 12px;
}

tr:hover .add-bubble {
	opacity: 1;
}

.patch-icon {
	background-color: #f7f7f7;
	border: 1px solid #e5e5e5;
	margin-right: 5px;
	vertical-align: middle;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding: 3px;
	margin: 5px 5px 0 0;
}

.note-wrap {
	border: 1px solid #ccc;
	margin: 10px 60px 20px 60px;
}

.note-head, .note-head-write {
	border-bottom: 1px solid #ccc;
	background: url('/static/metabar.gif') 0 -33px repeat-x;
	height: 33px;
	line-height: 33px;
	padding: 0 5px;
}

.note-head-write {
	background: url('/static/metabar.gif') 0 0px repeat-x;
}

a.note-button {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	color: #333;
	font-size: 12px;
	padding: 3px 8px 3px 8px;
	text-decoration: none;
	font-family: "Helvetica Neue", sans-serif;
	font-weight: bold;
	margin-right: 3px;
}

a.note-button.pressed {
	border-top: 1px solid #bbb;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-left: 1px solid #bbb;
	background-color: #fff;
}

.note-text, .note-text-write {
	background-color: #fff;
	padding: 0 10px 0px 10px;
}

.note-text-write {
	padding: 0;
	text-align: center;
}

.note-text-write textarea {
	width: 98%;

}

/* end of styles adapted from github */

ul {
	margin-top: 0;
	padding-top: 0;
	list-style-type: circle;
}

#content {
	margin: 5px auto;
	padding: 15px;
	width: 900px;
}

#logo {
	font-family: "Lobster", serif;
	font-size: 33px;
	/* text-shadow: 4px 4px 4px #aaa; */
}

#logo {
	text-decoration: none !important;
}

#header {
	background: #eee url("/static/patch-header.gif") repeat-x;
	color: #333;
	border-bottom: 1px solid #ccc;
	padding: 10px;
	line-height: 33px;
	height: 43px;
	padding: 8px 20px 5px 20px;
	text-align: left;
	overflow: hidden;
}

#header a {
	color: #333;
}

#info {
	border: 1px solid #cacaca;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	/* -webkit-box-shadow: 0px 0px 7px #cacaca; */
}

#nav-right {
	float: right;
	margin-top: 7px;
}

#repo {
	font-family: "Yanone Kaffeesatz", Georgia, serif;
	text-transform: uppercase;
	text-decoration: none;
	border: 1px solid #cacaca;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	background-color: #e0e0e0;
	padding: 5px 6px;
	font-size: 20px;
}

#tick {
	font-size: 50px;
	padding-top: 3px;
	float: left;
}

.absmiddle {
	vertical-align: middle;
}

.active {
	color: #282;
}

.activity {
	line-height: 1.4em;
	border-bottom: 1px dashed #cfcfcf;
	padding: 14px 0;
}

.center {
	text-align: center;
}

.clear {
	clear: both;
}

.errmsg {
	background-color: #fafec4;
	background-color: #fce1cb;
	color: #000;
	font-size: 2em;
	margin-bottom: 20px;
	padding: 8px;
	text-align: center;
}

.fail {
	color: #822;
}

.float-left {
	float: left;
	margin-right: 10px;
}

.float-right {
	float: right;
}

.gravatar {
	margin-right: 5px;
	vertical-align: middle;
	padding: 0px;
}

.gravatar-activity {
	margin-right: 8px;
	vertical-align: middle;
	padding: 0px;
	margin-bottom: 6px;
}

.gravatar-note {
	margin-right: 6px;
	margin-top: 4px;
	float: left;
	padding: 2px;
	background-color: #fff;
	border: 1px solid #ccc;
}

.huge {
	font-size: 96px;
	padding-right: 20px;
}

.inactive, .grey {
	color: #afafaf;
}

.pass {
	color: #282;
}

.small {
	font-size: 0.4em;
}

.small-grey {
	color: #6f6f6f;
	text-transform: uppercase;
	font-family: "Yanone Kaffeesatz", Georgia, serif;
	font-size: 0.7em;
	padding-left: 5px;
}

.small-info {
	text-align: left;
	font-size: 0.8em;
	padding-top: 5px;
	padding-left: 20px;
	color: #6f6f6f;
}

.subdued {
	color: #6f6f6f;
}

.subject {
	color: #6f6f6f;
}

.text {
	line-height: 1.4em;
	margin-top: 5px;
	margin-bottom: 10px;
}

.timing {
	font-size: 0.4em;
	float: left;
	margin: 10px 8px;
}

/* Source code syntax highlighting */

.codehilite .c { color: #919191 } /* Comment */
.codehilite .cm { color: #919191 } /* Comment.Multiline */
.codehilite .cp { color: #919191 } /* Comment.Preproc */
.codehilite .cs { color: #919191 } /* Comment.Special */
.codehilite .c1 { color: #919191 } /* Comment.Single */

.codehilite .err { color: #a61717; background-color: #e3d2d2 } /* Error */

.codehilite .g { color: #101010 } /* Generic */
.codehilite .gd { color: #d22323 } /* Generic.Deleted */
.codehilite .ge { color: #101010; font-style: italic } /* Generic.Emph */
.codehilite .gh { color: #101010 } /* Generic.Heading */
.codehilite .gi { color: #589819 } /* Generic.Inserted */
.codehilite .go { color: #6a6a6a } /* Generic.Output */
.codehilite .gp { color: #6a6a6a } /* Generic.Prompt */
.codehilite .gr { color: #d22323 } /* Generic.Error */
.codehilite .gs { color: #101010 } /* Generic.Strong */
.codehilite .gt { color: #d22323 } /* Generic.Traceback */
.codehilite .gu { color: #101010 } /* Generic.Subheading */

.codehilite .k { color: #c32528 } /* Keyword */ /* espian red */
.codehilite .k { color: #ff5600 } /* Keyword */ /* orangy */
.codehilite .kc { color: #ff5600 } /* Keyword.Constant */
.codehilite .kd { color: #ff5600 } /* Keyword.Declaration */
.codehilite .kd { color: #ff5600 } /* Keyword.Declaration */
.codehilite .kn { color: #ff5600 } /* Keyword */
.codehilite .kp { color: #ff5600 } /* Keyword.Pseudo */
.codehilite .kr { color: #ff5600 } /* Keyword.Reserved */
.codehilite .kt { color: #ff5600 } /* Keyword.Type */

.codehilite .l { color: #101010 } /* Literal */
.codehilite .ld { color: #101010 } /* Literal.Date */

.codehilite .m { color: #3677a9 } /* Literal.Number */ /* darkish pastely blue */
.codehilite .m { color: #00a33f } /* Literal.Number */ /* brightish green */
.codehilite .m { color: #1550a2 } /* Literal.Number */ /* darker blue */
.codehilite .m { color: #5d90cd } /* Literal.Number */ /* pastely blue */
.codehilite .mf { color: #5d90cd } /* Literal.Number.Float */
.codehilite .mh { color: #5d90cd } /* Literal.Number.Hex */
.codehilite .mi { color: #5d90cd } /* Literal.Number.Integer */
.codehilite .il { color: #5d90cd } /* Literal.Number.Integer.Long */
.codehilite .mo { color: #5d90cd } /* Literal.Number.Oct */

.codehilite .bp { color: #a535ae } /* Name.Builtin.Pseudo */
.codehilite .n { color: #101010 } /* Name */
.codehilite .na { color: #bbbbbb } /* Name.Attribute */
.codehilite .nb { color: #bf78cc } /* Name.Builtin */ /* pastely purple */
.codehilite .nb { color: #af956f } /* Name.Builtin */ /* pastely light brown */
.codehilite .nb { color: #a535ae } /* Name.Builtin */ /* brightish pastely purple */
.codehilite .nc { color: #101010 } /* Name.Class */
.codehilite .nd { color: #6d8091 } /* Name.Decorator */
.codehilite .ne { color: #af956f } /* Name.Exception */
.codehilite .nf { color: #3677a9 } /* Name.Function */
.codehilite .nf { color: #1550a2 } /* Name.Function */
.codehilite .ni { color: #101010 } /* Name.Entity */
.codehilite .nl { color: #101010 } /* Name.Label */
.codehilite .nn { color: #101010 } /* Name.Namespace */
.codehilite .nn { color: #101010 } /* Name.Namespace */
.codehilite .no { color: #101010 } /* Name.Constant */
.codehilite .nx { color: #101010 } /* Name.Other */
.codehilite .nt { color: #6d8091 } /* Name.Tag */
.codehilite .nv { color: #101010 } /* Name.Variable */
.codehilite .vc { color: #101010 } /* Name.Variable.Class */
.codehilite .vg { color: #101010 } /* Name.Variable.Global */
.codehilite .vi { color: #101010 } /* Name.Variable.Instance */
.codehilite .py { color: #101010 } /* Name.Property */

.codehilite .o { color: #ff5600 } /* Operator */ /* orangy */
.codehilite .o { color: #101010 } /* Operator */
.codehilite .ow { color: #101010 } /* Operator.Word */

.codehilite .p { color: #101010 } /* Punctuation */

.codehilite .s { color: #dd1144 } /* Literal.String */ /* darkish red */
.codehilite .s { color: #c32528 } /* Literal.String */ /* espian red */
.codehilite .s { color: #39946a } /* Literal.String */ /* pastely greeny */
.codehilite .s { color: #5d90cd } /* Literal.String */ /* pastely blue */
.codehilite .s { color: #00a33f } /* Literal.String */ /* brightish green */
.codehilite .sb { color: #00a33f } /* Literal.String.Backtick */
.codehilite .sc { color: #00a33f } /* Literal.String.Char */
.codehilite .sd { color: #00a33f } /* Literal.String.Doc */
.codehilite .se { color: #00a33f } /* Literal.String.Escape */
.codehilite .sh { color: #00a33f } /* Literal.String.Heredoc */
.codehilite .si { color: #00a33f } /* Literal.String.Interpol */
.codehilite .sr { color: #00a33f } /* Literal.String.Regex */
.codehilite .ss { color: #00a33f } /* Literal.String.Symbol */
.codehilite .sx { color: #00a33f } /* Literal.String.Other */
.codehilite .s1 { color: #00a33f } /* Literal.String.Single */
.codehilite .s2 { color: #00a33f } /* Literal.String.Double */

.codehilite .w { color: #101010 } /* Text.Whitespace */
.codehilite .x { color: #101010 } /* Other */

.codehilite.bash .nb { color: #101010 }
.codehilite.bash .nv { color: #c32528 }

.codehilite.css .k { color: #606060 }
.codehilite.css .nc { color: #c32528 }
.codehilite.css .nf { color: #c32528 }
.codehilite.css .nt { color: #c32528 }

.codehilite.rst .k { color: #5d90cd }
.codehilite.rst .ow { color: #5d90cd }
.codehilite.rst .p { color: #5d90cd }

.codehilite.yaml .l-Scalar-Plain { color: #5d90cd }
.codehilite.yaml .p-Indicator { color: #101010 }

.codehilite pre {
	background-color: #fff;
	border: 1px solid #cacaca;
	color: #101010;
	font-family: "Inconsolata", Monaco, monospace;
	padding: 7px 0 8px 7px !important;
	margin: 5px 30px 10px 30px !important;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 7px #cacaca;
}

p {
	margin: 10px 0;
	padding: 0;
}