/* No Copyright (-) 2010 The Ampify Authors. This file is under the */
/* Public Domain license that can be found in the root LICENSE file. */

body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", sans-serif;
	font-weight: 300;
	font-size: 1em;
	margin: 0;
	padding: 0;
}

a {
	color: #282;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

a.button {
	background: transparent url('/static/bg_button_a.gif') no-repeat scroll top right;
	color: #444;
	display: block;
	float: right;
	font: normal 12px arial, sans-serif;
	height: 24px;
	margin-right: 6px;
	padding-right: 18px;
	text-decoration: none;
}

a.button:active {
    background-position: bottom right;
    color: #000;
    outline: none;
}

a.button span {
	background: transparent url('/static/bg_button_span.gif') no-repeat;
	display: block;
	line-height: 14px;
	padding: 5px 0 5px 18px;
}

a.button:active span {
    background-position: bottom left;
    padding: 6px 0 4px 18px;
}

code, pre {
	font-family: "Inconsolata", Monaco, monospace;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Yanone Kaffeesatz", Georgia, serif;
	margin-bottom: 10px;
}

h1 {
	margin-top: 0px;
}

h2 {
	margin-top: 50px;
}

input.largetext {
	border: 2px solid #cacaca;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	font-size: 2em;
	padding: 0.5em;
	width: 600px;
}

input.largesubmit {
	margin-top: 20px;
	font-size: 20px;
}

label {
	cursor: pointer;
}

label.largelabel {
	display: block;
	font-family: "Yanone Kaffeesatz", sans-serif;
	font-size: 3em;
	margin: 0.5em 0 0.5em 1.5em;
}

label.largelabel-top {
	margin-top: 0;
}

li {
	padding-top: 10px;
}

pre {
	border-left: 2px solid #cacaca;
	padding-left: 10px;
	margin-left: 20px;
	margin-top: 30px;
}

td {
	padding: 7px;
	vertical-align: top;
	border-top: 1px solid #afa;
}

tr.header td {
	background-color: #dfd;
	border-bottom: 0px solid #afa;
	font-weight: bold;
	padding: 7px;
	white-space: nowrap;
}

tr.header-left td {
	border-top: 0px;
}

tr.header-left td.header {
	background-color: #dfd;
	border-right: 1px solid #afa;
	border-top: 1px solid #afa;
	font-weight: bold;
	padding: 7px 10px 7px 10px;
	white-space: nowrap;
	text-align: right;
}


tr.header-small td {
	background-color: #dfd;
	font-size: 0.8em;
	font-weight: bold;
	border-bottom: 0px solid #afa;
	padding: 7px;
	white-space: nowrap;
}

tr.middle td {
	vertical-align: middle;
}

ul {
	margin-top: 0;
	padding-top: 0;
	list-style-type: circle;
}

#content {
	margin: 1em auto;
	padding: 1em;
	width: 900px;
}

#header {
	background-color: #dfd;
	border-bottom: 1px solid #afa;
	border-bottom: 1px solid #dedede;
	padding: 0.2em 1em 0.4em 1.2em;
}

#nav {
	margin-top: 10px;
	font-size: 1.2em;
	float: right;
}

#nav a {
	color: #000;
	text-decoration: underline;
}

#nav a:hover {
	text-decoration: none;
}

#info {
	border: 1px solid #cacaca;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	/* -webkit-box-shadow: 0px 0px 7px #cacaca; */
}

.absmiddle {
	vertical-align: middle;
}

.active {
	color: #282;
}

.center {
	text-align: center;
}

.clear {
	clear: both;
}

.errmsg {
	background-color: #fafec4;
	background-color: #fce1cb;
	color: #000;
	font-size: 2em;
	margin-bottom: 20px;
	padding: 8px;
	text-align: center;
}

.fail {
	color: #822;
}

.float-right {
	float: right;
}

.head {
	font-family: "Lobster", serif;
	font-size: 36px;
	/* text-shadow: 4px 4px 4px #aaa; */
}

.head a {
	text-decoration: none;
	color: #000;
}

.headtick {
	font-size: 54px;
	vertical-align: sub;
}

.huge {
	font-size: 96px;
	padding-right: 20px;
}

.inactive, .grey {
	color: #afafaf;
}

.float-right {
	float: right;
}

.pass {
	color: #282;
}

.small {
	font-size: 0.4em;
}

