{% if is_admin and (rebuild_state == 2) %}
<form action="/rebuild" method="post" id="form">
	{% if xsrf_token %}
	<input type="hidden" name="xsrf_token" value="{{xsrf_token}}" />
	{% end %}
	<input type="hidden" name="platform" value="{{escape(build.build_platform)}}" />
	<input type="hidden" name="version" value="{{escape(build.version)}}" />
	<input type="hidden" name="repo" value="{{escape(build.repo)}}" />
	<input type="hidden" name="build_id" value="{{build_id}}" />
</form>
{% end %}
<div class="float-right" style="text-align: right;">
{% if build.has_failure %}{% if is_admin and rebuild_state %}{% if rebuild_state == 2 %}<a class="button" id="submit"><span>Rebuild for Platform + Commit</span></a>{% else %}<span class="grey">Rebuilding ...</span>{% end %}<br />{% end %}<span class="fail huge">✗</span>{% else %}<span class="pass huge">✓</span>{% end %}
</div>
<h1><a href="/builds">Builds</a> &middot; Build {{build_id}}</h1>
<blockquote><table cellspacing="0px">
<tr class="header-left">
	<td class="header">By</td>
	<td><a href="/slave/{{build.slave}}">slave {{build.slave}}</a></td>
</tr>
<tr class="header-left">
	<td class="header">Commit</td>
	<td>
		<a href="/activity/{{escape(url_escape(build.repo))}}">{{escape(build.repo)}}</a> / {% if '/' in build.version %}{{escape(build.version)}}{% else %}<a href="/commit/{{escape(build.repo)}}/{{escape(build.version)}}"><code>{{escape(build.version)}}</code></a>{% end %}
	</td>
</tr>
<tr class="header-left">
	<td class="header">Platform</td>
	<td>
		<a href="/builds/*/{{escape(url_escape(build.build_platform))}}">{{escape(build.build_platform.lower())}}</a>
		&nbsp;&middot;&nbsp;
		{{escape(build.uname.lower())}}
	</td>
</tr>
<tr class="header-left">
	<td class="header">When</td>
	<td><span class="timestamp">{{ build.d.strftime('%s') }}</span></td>
</tr>
</table></blockquote>

{% if traceback %}

<h2>Traceback</h2>
<blockquote>
<pre class="fail">{{escape(traceback)}}</pre>
</blockquote>

{% else %}

<h2>Phases</h2>
{% if timings %}
<blockquote>
{% for idx, phase in enumerate(build.executed) %}
		<div class="{% if stdout[idx] %}build-fail">✗ {% else %}build-pass">✓ {% end %}&nbsp;{{ escape(phase) }}
		&nbsp;
		<span class="small">{{ timings[idx] }} milliseconds</span>
		</div>
		<hr class="clear" />
		{% if stdout[idx] %}
		<pre>{{escape(stdout[idx])}}</pre>
		{% end %}
		{% if stderr[idx] %}
		<pre class="fail">{{escape(stderr[idx])}}</pre>
		{% end %}
{% end %}
</blockquote>
{% else %}
<ul>
{% for phase in build.executed %}
	<li>{{ escape(phase) }}</li>
{% end %}
</ul>
{% end %}

{% end %}
<script>
$('#submit').click(function () { $('#form').submit(); } );
</script>