{% if repo %}
<h1><a href="/builds" class="no-link">Builds</a> &middot {{repo}}</h1>
{% else %}
<h1>Builds</h1>
{% end %}
{% if builds %}
<blockquote><table cellspacing="0px" width="100%">
<tr class="header">
	<td>ID</td>
	<td>Uname</td>
	<td>Commit</td>
	<td>Status</td><td>When</td>
	<td>By</td>
</tr>
{% for build in builds %}
<tr>
	<td><a href="/build/{{build.key().id()}}">{{build.key().id()}}</a></td>
	<td>{{escape(build.uname.lower())}}</td>
	<td>
		<a href="/builds/{{build.repo}}">{{build.repo}}</a> /
		{% if '/' in build.version %}<a href="/review/{{build.repo}}/{{'/'.join(map(url_escape, build.version.split('/')))}}">{{escape(build.version)}}</a>{% else %}<a href="/commit/{{build.repo}}/{{escape(build.version)}}"><code>{{escape(build.version[:20])}}</code></a>{% end %}
	</td>
	<td>{% if build.has_failure %}<span class="grey">✗</span>{% else %}✓{% end %}</td>
	<td><span class="timestamp">{{ build.d.strftime('%s') }}</span></td>
	<td><a href="/slave/{{build.slave}}">slave {{ build.slave }}</td>
</tr>
{% end %}
</table></blockquote>
{% if more %}
<a class="button" href="/builds?next={{more}}"><span>Next &rarr;</span></a>
{% end %}
{% end %}
