{% if not dashboard_view %}
{% if not single %}{% if failures_only %}
<a class="button" href="{{commits_url}}"><span>All</span></a>
{% if failures_only == "0" %}
<a class="button" href="{{commits_url}}?failures_only=1"><span>Hide Non-Failures</span></a>
{% else %}
<a class="button" href="{{commits_url}}?failures_only=0"><span>Hide Failures</span></a>
{% end %}
{% else %}
<a class="button" href="{{commits_url}}?failures_only=1"><span>Hide Non-Failures</span></a>
<a class="button" href="{{commits_url}}?failures_only=0"><span>Hide Failures</span></a>
{% end %}{% end %}
{% if single %}
<h1><a href="/commits" class="no-link">Commits</a></h1>
{% elif repo %}
<h1><a href="/commits" class="no-link">Commits</a> &middot; {{ repo }}</h1>
{% elif user %}
<h1><a href="/commits" class="no-link">Commits</a> &middot; user {{ escape(user) }}</h1>
{% else %}
<h1>Commits</h1>
{% end %}
{% end %}

{% if commits %}
<blockquote><table cellspacing="0px" width="100%">
{% if not single %}
<tr class="header-small">
	<td></td>
	{% for platform in platforms %}
	<td>{{escape(platform.rsplit(' ', 1)[0])}}<br />{{escape(platform.rsplit(' ', 1)[1])}}</td>
	{% end %}
</tr>
{% end %}
{% for commit in commits %}
<tr class="middle{% if single %} no-border{% end %}">
	<td class="left-pad-none">

		<img class="gravatar-activity" src="http://www.gravatar.com/avatar/{% if commit.user in gravatars %}{{gravatars[commit.user]}}{% else %}{{ md5(commit.author_email).hexdigest() }}{% end %}?s=32&amp;d=http%3A%2F%2Fgithub.com%2Fimages%2Fgravatars%2Fgravatar-32.png" />

		{% if commit.user %}<a href="/profile/{{escape(url_escape(commit.user))}}" class="no-link">{% end %}{{escape(commit.user or commit.author_email or '')}}{% if commit.user %}</a>{% end %} &nbsp;&middot;&nbsp; {% if single %}<code>{{escape(version)}}</code>{% else %}<a href="/commit/{{commit.repo}}/{{escape(commit.version)}}"><code>{{escape(commit.version[:8])}}</code></a>{% end %} &nbsp;&middot;&nbsp; <a href="/commits/{{commit.repo}}">{{commit.repo}}</a>
		{% if single %}
		&nbsp;&middot;&nbsp;
		<a href="http://github.com/{{'%s/%s' % repos[commit.repo]}}/commit/{{escape(commit.version)}}">github</a>
		{% end %}
		{% if single and (commit.author_email != commit.committer_email) %}
		&nbsp;&middot;&nbsp;
		committed by {{escape(commit.committer or committer_email or '??')}}
		{% end %}
		<span class="timestamp small-grey">{{ commit.d.strftime('%s') }}</span>

		{% if commit.subject %}
		<blockquote class="subject">
			{{render_text(commit.subject)}}
		</blockquote>
		{% end %}

	</td>
	{% if not single %}
	{% for platform in platforms %}{% if platform in commit.passed_builds %}
	<td><a class="build-pass-bubble" href="/builds/{{commit.repo}}/{{escape(url_escape(platform))}}/{{escape(commit.version)}}">✓ &nbsp;pass</a></div></td>
	{% elif platform in commit.failed_builds %}
	<td><a class="build-fail-bubble" href="/builds/{{commit.repo}}/{{escape(url_escape(platform))}}/{{escape(commit.version)}}">✗ &nbsp;fail</a></td>
	{% else %}
	<td>-</td>
	{% end %}{% end %}
	{% end %}
</tr>
{% end %}
</table></blockquote>
{% if (not dashboard_view) and more %}
<a class="button" href="{{commits_url}}?next={{more}}&amp;{% if failures_only %}failures_only={{failures_only}}{% end %}"><span>Next &rarr;</span></a>
{% end %}
{% end %}

{% if not dashboard_view %}
{% if builds %}
<h2>Builds</h2>
<blockquote><table cellspacing="0px" width="100%">
<tr class="header">
	<td>ID</td>
	<td>Platform</td>
	<td>Status</td>
	<td>When</td>
	<td>By</td>
</tr>
{% for build in builds %}
<tr>
	<td><a href="/build/{{build_id = build.key().id()}}">{{build_id}}</a></td>
	<td>{{escape(build.build_platform.lower())}}</td>
	<td>
		<table class="build-results" cellspacing="0px"><tr>
			{% if build.build_phases %}
			{% for phase, failure in decode_json(build.build_phases) %}
			<td class="{% if failure %}fail">✗ {% else %}pass">✓ {% end %}&nbsp;{{ escape(phase) }}</td>
			<td> </td>
			{% end %}
			{% else %}
			<td class="fail">✗ &nbsp;git-slave failure</td>
			{% end %}
		</tr></table>
	</td>
	<td><span class="timestamp">{{ build.d.strftime('%s') }}</span></td>
	<td><a href="/slave/{{build.slave}}">slave {{ build.slave }}</td>
</tr>
{% end %}
</table></blockquote>
{% end %}
{% end %}

{% if not dashboard_view %}
{% if single and changes %}
<h2>Changes</h2>
{{ changes }}
{% end %}
{% end %}
