<h1>Pending Reviews</h1>

<blockquote><table cellspacing="0px" width="100%">
<tr class="header">
	<td>ID</td><td>Reviewers</td><td>State</td><td>Then</td><td>Now</td>
</tr>
<tr>
	<td>
		<a href="/review">tav/doc-gitreview-guide/2</a>
		<br/>
		<blockquote>
			Updated the documentation index page with details about gitreview.
		</blockquote>
	</td>
	<td>evangineer, sbp</td>
	<td>testing</td>
	<td>
		<a href="http://github.com/">diff</a>
	</td>
	<td>
		<a href="http://github.com/">diff</a>
	</td>
</tr>
<tr>
	<td>
		<a href="/review">evangineer/lzf/1</a>
	</td>
	<td>tav, oierw</td>
	<td><a href="" class="fail">tested</a></td>
	<td>
		<a href="http://github.com/">diff</a>
	</td>
	<td>
		<a href="http://github.com/">diff</a>
	</td>
</tr>
</table></blockquote>

<h1>Recent Master Builds</h1>

<blockquote><table cellspacing="0px" width="100%">
<tr class="header-small">
	<td></td>
	<td>OSX 10.5<br/>386</td>
	<td>OSX 10.6<br/>amd64</td>
	<td>Linux<br/>386</td>
	<td>Linux<br/>amd64</td>
</tr>
<tr class="middle">
	<td>
		<a href="http://github.com/tav/">5ed4624a</a> &nbsp;&mdash;&nbsp; tav
		<br/>
		<blockquote>Checked in latest work on the review-server.</blockquote>
	</td>
	<td>✓</td>
	<td></td>
	<td>✓</td>
	<td><a href="http://github.com/" class="fail">fail</a></td>
</tr>
<tr class="middle">
	<td>
		<a href="http://github.com/tav/">eb5e531c</a> &nbsp;&mdash;&nbsp; oierw
		<br/>
		<blockquote>Cleaned up pyutil.env slightly.</blockquote>
	</td>
	<td>✓</td>
	<td>✓</td>
	<td>✓</td>
	<td>✓</td>
</tr>
<tr class="middle">
	<td>
		<a href="http://github.com/tav/">fa2791b4</a> &nbsp;&mdash;&nbsp; some.devdude@gmail.com
		<br/>
		<blockquote>Created a new build option.</blockquote>
	</td>
	<td><a href="http://github.com/" class="fail">fail</a></td>
	<td><a href="http://github.com/" class="fail">fail</a></td>
	<td>✓</td>
	<td>✓</td>
</tr>
</table></blockquote>


<h1><img class="float-right" src="{{ static_url('github.png') }}" width="60px" height="60px" /> GitHub Repositories</h1>
<ul>
{% for repo in sorted(repos) %}
	<li><a href="{{'http://github.com/%s/%s' % repos[repo]}}">{{repos[repo][1]}}</a></li>
{% end %}
</ul>