<form action="/login" method="post" id="form">
	<label for="login" class="largelabel largelabel-top">Github Username</label>
	<div class="center">
		<input class="largetext" type="text" id="login" name="login" value="" />
	</div>
	<label for="token" class="largelabel">API Token &nbsp; <span class="small">[<a href="https://github.com/account" target="_blank">Find it under the GitHub Account Admin section</a>]</span></label>
	<div class="center">
		<input class="largetext" type="text" id="token" name="token" value="" />
	</div>
	<div style="margin: 40px 400px;">
		<input type="submit" style="margin: -9000px" />
		<a class="button" id="submit"><span>Login</span></a>
	</div>
</form>
<script>
document.getElementById('login').focus();
$('#submit').click(function () { $('#form').submit(); } );
</script>
