{% if repo %}
<div class="float-right" style="margin-bottom: 10px;">
	<h1><a href="/profile/{{url_escape(user)}}" class="no-link">{{escape(user)}}</a>/<a href="/repo/{{url_escape(repo)}}" class="no-link">{{escape(repo)}}</a></h1>
</div>
{% else %}
<h1>Profile &middot; {{escape(user)}}</h1>
{% end %}

{% if repo %}
{% else %}
<blockquote><table cellspacing="0px">
<tr class="header-left">
	<td class="header">GitHub</td>
	<td><a href="http://github.com/{{url_escape(user)}}">{% if user_obj and user_obj.name %}{{escape(user_obj.name)}}{% else %}{{escape(user)}}{% end %}</a></td>
</tr>
</table></blockquote>
{% end %}

{% if reviews %}
<h2>Recent Reviews</h2>
{{ reviews }}
<a href="/reviews/*/{{url_escape(user)}}" class="button"><span>See All</span></a>
<hr class="clear" />
{% end %}

{% if commits %}
<h2>Recent Commits</h2>
{{ commits }}
<a href="/commits/*/*/{{url_escape(user)}}" class="button"><span>See All</span></a>
<hr class="clear" />
{% end %}

{% if activities %}
<h2>Recent Activities</h2>
{{ activities }}
<a href="/activity/*/{{url_escape(user)}}" class="button"><span>See All</span></a>
<hr class="clear" />
{% end %}
