<h1><a href="/repositories" class="no-link">Repositories</a> &middot; {{repo}}</h1>

<br />

<blockquote>
Maintained by:
<br /><br />
<ul>
	<li>
		<a href="/profile/{{url_escape(repo_obj.maintainer)}}">{{escape(repo_obj.maintainer)}}</a>
	</li>
</ul>
</blockquote>

{% if repo_obj.core_devs %}
<br />

<blockquote>
Core Developers:
<br /><br />
<ul>
{% for dev in repo_obj.core_devs %}
	<li>
		<a href="/profile/{{url_escape(dev)}}">{{escape(dev)}}</a>
	</li>
{% end %}
</ul>
</blockquote>
{% end %}

{% if platforms %}
<br />

<blockquote>
Platforms:
<br /><br />
<ul>
{% for uname in platforms %}
	<li>
		<a href="/builds/{{url_escape(repo)}}/{{url_escape(platforms[uname])}}">{{escape(platforms[uname].lower())}}</a>
		&nbsp;&middot;&nbsp;
		<code>{{escape(uname)}}</code>
	</li>
{% end %}
</ul>
</blockquote>
{% end %}

{% if slaves %}
<br />

<blockquote>
Authorised Slaves:
<br /><br />
<ul>
{% for slave in slaves %}
	<li>
		<a href="/slave/{{slave_id = slave.key().id()}}">slave {{slave_id}}</a>
	</li>
{% end %}
</ul>
</blockquote>
{% end %}

<br />

<img class="float-right" src="{{ static_url('github.png') }}" width="60px" height="60px" />
<blockquote>
GitHub Repository:
<br /><br />
<ul>
	<li><a href="{{'http://github.com/%s/%s' % github}}">{{github[1]}}</a></li>
</ul>

</blockquote>

<br />

{% if current_user and current_user == repo_obj.maintainer %}

<h2>Edit Repository</h2>

<form id="form" action="/repo/{{url_escape(repo)}}" method="post">
<blockquote>
<br/>
<label for="core_devs">core developers <span class="grey">&mdash; list the developers on separate lines</span>
<br/><br/></label>
<textarea id="core_devs"  name="core_devs" cols="40" rows="8">{% if repo_obj.core_devs %}{{escape('\n'.join(repo_obj.core_devs))}}{% end %}</textarea>
</blockquote>

<blockquote>
<br/>
<label for="platforms">uname &rarr; platform <span class="grey">&mdash; provide a mapping in yaml format</span><br/><br/></label>
<textarea id="platforms"  name="platforms" cols="60" rows="8">{% if repo_obj.platforms %}{{escape(repo_obj.platforms)}}{% end %}</textarea>
</blockquote>

{% if xsrf_token %}
<input type="hidden" name="xsrf_token" value="{{xsrf_token}}" />
{% end %}
</form>

<a id="submit" class="button"><span>Update Repository</span></a>
<hr class="clear" />

<script>
$('#submit').click(function () { $('#form').submit(); } );
</script>

{% end %}