<h1><a href="/reviews" class="no-link">Reviews</a> &middot; {{escape(review.version)}}</h1>

<blockquote><table cellspacing="0px" width="100%">
<tr class="header">
	<td></td>
	<td class="center">Reviewers</td>
	<td class="center">State</td>
	<td class="center">Upstream</td>
</tr>
<tr class="middle">
	<td class="left-pad-none">
		<a href="/profile/{{url_escape(review.user)}}"><img class="gravatar" src="http://www.gravatar.com/avatar/{% if get_gravatar(review.user) %}{{escape(gravatars.get(review.user, ''))}}{% else %}{{ 'not-available' }}{% end %}?s=32&amp;d=http%3A%2F%2Fgithub.com%2Fimages%2Fgravatars%2Fgravatar-32.png" /></a>

		<a href="/review/{{escaped_repo = url_escape(review.repo)}}/{{escaped_patch_base = escape(review.version.rsplit('/', 1)[0])}}/{{current_patch_number = int(review.version.rsplit('/', 1)[1])}}">{{escape(review.version)}}</a>
		{% if base.latest != 1 %}
		&nbsp;&middot;&nbsp;
		{% for patch_number in range(int(base.latest), 0, -1) %}{% if patch_number != current_patch_number %}<a href="/review/{{escaped_repo}}/{{escaped_patch_base}}/{{patch_number}}">{{patch_number}}</a>{% if not ((current_patch_number == 1) and (patch_number == 2) or (patch_number == 1)) %}, {% end %}{% end %}{% end %}
		{% end %}
		<span class="small-grey">{% if review.m == review.d %}SUBMITTED{% else %}UPDATED{% end %} <span class="timestamp">{{ review.m.strftime('%s') }}</span></span>
		{% if review.has_comment %}<a href="/review/{{review.repo}}/{{escaped_patch_base}}/{{current_patch_number}}"><img class="absmiddle" src="{{static_url('comment.png')}}" /></a>{% end %}
		{% if review.subject %}
		<blockquote class="subject">
			{{ render_text(review.subject) }}
		</blockquote>
		{% end %}

	</td>
	<td class="center">
		{% if base.cc %}
		{% for user in base.cc %}
		{% if ('@' not in user) and user != review.user %}
		<a href="/profile/{{ url_escape(user) }}">{{escape(user)}}</a>
		{% end %}
		{% end %}
		{% end %}
	</td>
	<td class="center">
		{% if review.stage == 'tested' %}
		{% if review.has_failure %}
		<a href="" class="fail">tested</a>
		{% else %}
		<a href="">tested</a>
		{% end %}
		{% else %}
		{{review_stages.get(review.stage, 'unknown')}}
		{% end %}
	</td>
	<td class="center">
		<a href="{{github_url = 'http://github.com/' + url_escape(github) + '/' + url_escape(review.repo) + '/compare/'}}master...{{url_escape(review.version.replace('/', ';'))}}">diff</a>
	</td>
</tr>
</table></blockquote>

{% if current_user or comments %}
<h2>Comments</h2>

{% if current_user %}
<div class="note-wrap">
	<div class="note-head-write">
		<a href="" class="note-button pressed" id="comment-write">Write</a>
		<a href="" class="note-button" id="comment-preview">Preview</a>
	</div>
	<form class="note-text-write" id="comment-form" action="/comment" method="post">
		<input type="hidden" name="xsrf_token" value="{{xsrf_token}}" />
		<input type="hidden" name="key" value="{{escape(str(review.key()))}}" />
		<textarea name="text" rows="6" id="comment-textarea"></textarea><br/>
		<input type="hidden" name="action" id="action" value="" />
	</form>
	<div class="note-text" id="comment-text">
	</div>
</div>
{% if is_repo_dev %}
{% if review.stage != 'rejected' %}
<a id="submit-reject" class="button"><span>Reject</span></a>
{% end %}
<a class="button" id="comment-submit"><span>Add Comment</span></a>
{% if review.stage == 'pending' %}
<a id="submit-build" class="button"><span>Safe To Build</span></a>
{% elif (review.stage == 'built') and (not review.has_failure) %}
<a id="submit-approve" class="button"><span>LGTM</span></a>
{% elif review.stage == 'approved' %}
<a id="submit-apply" class="button"><span>Applied To Master</span></a>
{% end %}
{% else %}
<a class="button" id="comment-submit"><span>Add Comment</span></a>
{% end %}
<hr class="clear" />
{% end %}

{% if comments %}
{% for comment in comments %}
<div class="note-wrap" id="comment-{{comment.key().id()}}">
<div class="note-head">
	<a href="/profile/{{url_escape(comment.user)}}"><img class="gravatar-note" src="http://www.gravatar.com/avatar/{{escape(get_gravatar(comment.user) or '')}}?s=20&d=http%3A%2F%2Fgithub.com%2Fimages%2Fgravatars%2Fgravatar-20.png" width="20px" height="20px" /></a>
	<a class="bold-link" href="/profile/{{url_escape(comment.user)}}">{{escape(comment.user)}}</a>
	{% if comment.stage %}{% if comment.stage == 'build' %}approved safe to build{% elif comment.stage == 'rejected' %}rejected the submission{% elif comment.stage == 'approved' %}approved LGTM{% elif review.stage == 'applied' %}applied patch to master{% end %}{% else %}wrote a comment{% end %} <span class="small-grey timestamp">{{comment.d.strftime('%s')}}</span>
</div>
<div class="note-text">
{{render_text(comment.text)}}
</div>
</div>
{% end %}
{% end %}

{% end %}

{% if builds %}
<h2>Builds</h2>
<blockquote><table cellspacing="0px" width="100%">
<tr class="header">
	<td>ID</td>
	<td>Platform</td>
	<td>Status</td>
	<td>When</td>
	<td>By</td>
</tr>
{% for build in builds %}
<tr>
	<td><a href="/build/{{build_id = build.key().id()}}">{{build_id}}</a></td>
	<td>{{escape(build.build_platform.lower())}}</td>
	<td>
		<table class="build-results" cellspacing="0px"><tr>
			{% if build.build_phases %}
			{% for phase, failure in decode_json(build.build_phases) %}
			<td class="{% if failure %}fail">✗ {% else %}pass">✓ {% end %}&nbsp;{{ escape(phase) }}</td>
			<td> </td>
			{% end %}
			{% else %}
			<td class="fail">✗ &nbsp;git-slave failure</td>
			{% end %}
		</tr></table>
	</td>
	<td><span class="timestamp">{{ build.d.strftime('%s') }}</span></td>
	<td><a href="/slave/{{build.slave}}">slave {{ build.slave }}</td>
</tr>
{% end %}
</table></blockquote>
{% end %}

{% if changes %}
<h2>Changes</h2>
<div id="#changes">
{{ changes }}
</div>
{% end %}

<script>
var files = {{repr(files)}};
{% if line_notes %}
add_line_notes({{line_notes}});
{% end %}
{% if current_user %}
var xsrf_token = "{{xsrf_token}}";
var key = "{{escape(str(review.key()))}}";
$(setup_comments);
{% end %}
{% if is_repo_dev %}
$('#submit-build').click(function () {
    $('#action').val('build');
    $('#comment-form').submit();
});
$('#submit-approve').click(function () {
    $('#action').val('approve');
    $('#comment-form').submit();
});
$('#submit-reject').click(function () {
    $('#action').val('reject');
    $('#comment-form').submit();
});
$('#submit-apply').click(function () {
    $('#action').val('applied');
    $('#comment-form').submit();
});
{% end %}
</script>
