{% if not dashboard_view %}
{% if repo %}
<h1><a href="/reviews" class="no-link">Reviews</a> &middot; {{repo}}</h1>
{% else %}
<h1>Reviews</h1>
{% end %}
{% end %}

{% if reviews %}
<blockquote><table cellspacing="0px" width="100%">
<tr class="header">
	<td></td>
	<td class="center">Reviewers</td>
	<td class="center">State</td>
	<td class="center">Upstream</td>
</tr>
{% for review in reviews %}
<tr class="middle">
	<td class="left-pad-none">
		<img class="gravatar" src="http://www.gravatar.com/avatar/{% if review.user in gravatars %}{{gravatars[review.user]}}{% else %}{{ 'not-available' }}{% end %}?s=32&amp;d=http%3A%2F%2Fgithub.com%2Fimages%2Fgravatars%2Fgravatar-32.png" />

		<a href="/review/{{review.repo}}/{{escaped_patch_base = escape(review.version.rsplit('/', 1)[0])}}/{{current_patch_number = int(review.version.rsplit('/', 1)[1])}}">{{escape(review.version)}}</a>
		{% if bases[review.version].latest != 1 %}
		&nbsp;&middot;&nbsp;
		{% for patch_number in range(int(bases[review.version].latest), 0, -1) %}{% if patch_number != current_patch_number %}<a href="/review/{{review.repo}}/{{escaped_patch_base}}/{{patch_number}}">{{patch_number}}</a>{% if not ((current_patch_number == 1) and (patch_number == 2) or (patch_number == 1)) %}, {% end %}{% end %}{% end %}
		{% end %}
		&nbsp;&middot;&nbsp;
		<a href="/reviews/{{review.repo}}">{{review.repo}}</a>
		<span class="small-grey">{% if review.m == review.d %}SUBMITTED{% else %}LAST UPDATED{% end %} <span class="timestamp">{{ review.d.strftime('%s') }}</span></span>
		{% if review.subject %}
		<blockquote class="subject">
			{{ render_text(review.subject) }}
		</blockquote>
		{% end %}

	</td>
	<td class="center">
		{% if bases[review.version].cc %}
		{% for user in bases[review.version].cc %}
		{% if ('@' not in user) and user != review.user %}
		<a href="/profile/{{ escape(url_escape(user)) }}">{{escape(user)}}</a>
		{% end %}
		{% end %}
		{% end %}
	</td>
	<td class="center">
		{% if review.stage == 'tested' %}
		{% if review.has_failure %}
		<a href="" class="fail">tested</a>
		{% else %}
		<a href="">tested</a>
		{% end %}
		{% else %}
		{{review_stages.get(review.stage, 'unknown')}}
		{% end %}
	</td>
	<td class="center">
		<a href="{{github_url = 'http://github.com/' + escape(url_escape(github)) + '/' + review.repo + '/compare/'}}master...{{escape(url_escape(review.version.replace('/', ';')))}}">diff</a>
	</td>
</tr>
{% end %}
</table></blockquote>
{% if (not dashboard_view) and more %}
{% end %}
{% end %}
