<!DOCTYPE html>
<html>
	<head>
		<title>git review{% if title %} :: {{ title }}{% end %}</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lobster|Inconsolata|Droid+Serif|Yanone+Kaffeesatz:300" />
		<link rel="stylesheet" type="text/css" href="{{ static_url('site.css') }}" />
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
		<script src="{{ static_url('gitreview.js') }}"></script>
	</head>
	<body>
		<div id="header">
			<div id="nav-right">
				{% if current_user %}
				<a href="/profile/{{escape(url_escape(current_user))}}">Profile</a>
				&nbsp;·&nbsp;
				{% end %}
				<a href="/slaves">Slaves</a>
				&nbsp;·&nbsp;
				{% if current_user %}
				<a href="/logout">Logout {{ escape(current_user) }}</a>
				{% else %}
				<a href="/login">Login</a>
				{% end %}
			</div>
			<a id="logo" href="/"><div id="tick">✓</div> git review</a> &nbsp;·&nbsp;
			{% if repo %}
			<a id="repo" href="/repo/{{_repo = escape(repo) }}">{{_repo}}</a>  &nbsp;·&nbsp;
			{% if current_user %}
			<a href="/dashboard/{{escape(url_escape(current_user))}}/{{_repo}}">Dashboard</a>
			&nbsp;·&nbsp;
			{% end %}
			<a href="/activity/{{_repo}}">Activity Feed</a> &nbsp;·&nbsp;
			<a href="/reviews/{{_repo}}">Reviews</a> &nbsp;·&nbsp;
			<a href="/commits/{{_repo}}">Commits</a> &nbsp;·&nbsp;
			<a href="/builds/{{_repo}}">Builds</a>
			{% else %}
			{% if current_user %}
			<a href="/profile/{{escape(url_escape(current_user))}}">Profile</a>
			&nbsp;·&nbsp;
			{% end %}
			<a href="/activity">Activity Feed</a> &nbsp;·&nbsp;
			<a href="/reviews">Reviews</a> &nbsp;·&nbsp;
			<a href="/commits">Commits</a> &nbsp;·&nbsp;
			<a href="/builds">Builds</a>
			{% end %}
		</div>
		<div id="content">
			{% if errmsg %}
			<div class="errmsg">{{ errmsg }}</div>
			{% end %}
			{{ content }}
		</div>
		<div id="footer">
		</div>
	</body>
</html>