{% if show_token %}
<form action="/slave/{{slave_id}}" method="post" id="form">
	<a id="submit" class="button"><span>Reset Slave Token</span></a>
</form>
{% end %}
<h1><a href="/slaves">Git Slaves</a> &middot; Slave {{slave_id}}</h1>
<blockquote><table cellspacing="0px" width="100%">
<tr class="header">
	<td>ID</td><td>Token</td><td>Owner</td><td>Jobs Done</td><td>Last Seen</td>
</tr>
<tr>
	<td>{{slave_id}}</td>
	<td>{% if show_token %}{{slave_token}}{% else %}-{% end %}</td>
	<td>tav</td>
	<td>49</td>
	<td>4 hours and 52 minutes ago</td>
</tr>
</table></blockquote>
<h1>Recent Jobs</h1>
<script>
$('#submit').click(function () { $('#form').submit(); } );
</script>