{% if show_token %}
<form action="/slave/{{slave_id}}" method="post" id="form">
	{% if xsrf_token %}
	<input type="hidden" name="xsrf_token" value="{{xsrf_token}}" />
	{% end %}
	<input type="hidden" name="action" id="action" value="reset" />
	<a id="submit-disable" class="button"><span>{% if slave.disabled %}Enable{% else %}Disable{% end %} Slave</span></a>
	<a id="submit" class="button"><span>Reset Slave Token</span></a>
</form>
{% end %}
<h1><a href="/slaves">Git Slaves</a> &middot; Slave {{slave_id}}</h1>
<blockquote><table cellspacing="0px" width="100%">
<tr class="header">
	<td>ID</td><td>Token</td><td>Owner</td><td>Working</td><td>Done</td><td>Last Seen</td><td>Status</td>
</tr>
<tr>
	<td>{{slave_id}}</td>
	<td>{% if show_token %}<code>{{slave.token}}</code>{% else %}-{% end %}</td>
	<td>{{escape(slave.owner)}}</td>
	<td>{% if slave.working %}✓{% else %}<span class="inactive">✗</span>{% end %}</td>
	<td>{{ slave.jobs_done }}</td>
	<td>{% if slave.last_seen %}<span class="timestamp">{{ slave.last_seen.strftime('%s') }}</span>{% else %}-{% end %}</td>
	<td>{% if slave.disabled %}<span class="inactive">disabled</span>{% else %}<span class="active">active</span>{% end %}</td>
</tr>
</table></blockquote>
{% if pending %}
<blockquote>
<br/>
Working on:
<ul>
<br/>
<li><code>{{ escape((':'.join(pending.key().parent().to_path()[1:]))) }}</code> &mdash; {{ escape(pending.build_platform) }}</li>
</ul>
</blockquote>
{% end %}
{% if builds %}
<h2>Recent Builds</h2>
<blockquote><table cellspacing="0px" width="100%">
<tr class="header">
	<td>ID</td><td>Repo</td><td>Revision</td><td>Platform</td><td>Status</td><td>When</td>
</tr>
{% for build in builds %}
<tr>
	<td><a href="/build/{{build.key().id()}}">{{build.key().id()}}</a></td>
	<td>{{escape(build.repo)}}</td>
	<td>{% if '/' in build.version %}{{escape(build.version)}}{% else %}<code>{{escape(build.version[:10])}}{% end %}</code></td>
	<td>{{escape(build.uname)}}</td>
	<td>{% if build.has_failure %}✗{% else %}✓{% end %}</td>
	<td><span class="timestamp">{{ build.d.strftime('%s') }}</span></td>
</tr>
{% end %}
</table></blockquote>
{% end %}
{% if more %}
<a class="button" href="/slave/{{slave_id}}?next={{more}}"><span>Next &rarr;</span></a>
{% end %}
<script>
$('#submit').click(function () { $('#form').submit(); } );
$('#submit-disable').click(function () {
  $('#action').val('status');
  $('#form').submit();
});
</script>