{% if current_user %}
<form action="/slaves" method="post" id="form">
	{% if xsrf_token %}
	<input type="hidden" name="xsrf_token" value="{{xsrf_token}}" />
	{% end %}
	<a id="submit" class="button"><span>Create A New Slave</span></a>
</form>
{% end %}
<h1>Git Slaves</h1>
<blockquote><table cellspacing="0px" width="100%">
<tr class="header">
	<td>ID</td>
	<td>Recent Uname</td>
	<td>Owner</td>
	<td>Working</td><td>Done</td><td>Last Seen</td>
	<td>Status</td>
</tr>
{% for slave in slaves %}
<tr>
	<td><a href="/slave/{{slave.key().id()}}">{{ slave.key().id() }}</a></td>
	<td>{{ escape((slave.recent_platform or '-').lower()) }}</td>
	<td>{{ escape(slave.owner) }}</td>
	<td>{% if slave.working %}✓{% else %}<span class="inactive">✗</span>{% end %}</td>
	<td>{{ slave.jobs_done }}</td>
	<td>{% if slave.last_seen %}<span class="timestamp">{{ slave.last_seen.strftime('%s') }}</span>{% else %}-{% end %}</td>
	<td>{% if slave.authorised_repos %}<span class="active">active</span>{% else %}<span class="inactive">inactive</span>{% end %}</td>
</tr>
{% end %}
</table></blockquote>
{% if more %}
<a class="button" href="/slaves?next={{more}}"><span>Next &rarr;</span></a>
{% end %}
<script>
$('#submit').click(function () { $('#form').submit(); } );
</script>
