# specific files/directories

.appengine_python_sdk
.articlestore

doc/website/*.html
environ/local

src/amp/build

src/zero/.latest
src/zero/build
src/zero/client_libs/appengine/secret.py
src/zero/client_libs/appengine/updated.py
src/zero/espra/secret.py
src/zero/espra/updated.py
src/zero/sensor/sensor.js

src/zero/www/ampzero.js
src/zero/www/debug.html
src/zero/www/index.html
src/zero/www/zerosite.css
src/zero/www/zerosite.js
src/zero/www/zerosite.min.css
src/zero/www/zerosite.min.js

# minified css/js files

*.min.js
*.min.css

# hidden files/directories

.DS_Store
.lock-wscript
.sass-cache
.sconsign*
.svn

# file patterns

*#*
*~
*.5
*.6
*.8
*.a
*.dylib
*.egg
*.jar
*.la
*.lo
*.o
*.pyc
*.pyo
*.so
*.swp
*.tar.bz2
*.tar.gz
*.tbz
*.tbz2
*.tgz

# file patterns (xcode)

*.mode1v3
*.mode2v3
*~.nib
*.pbxuser
*.perspective
*.perspectivev3
*.swp
*.tm_build_errors

# file patterns (windows)

*.dll
*.exe
*.ilk
*.lib
*.ncb
*.pdb
*.suo
*.vcproj.*.*.user
