[submodule "third_party/redis"]
	path = third_party/redis
	url = https://github.com/tav/redis.git
[submodule "third_party/go"]
	path = third_party/go
	url = https://github.com/tav/go.git
[submodule "third_party/nodelint"]
	path = third_party/nodelint
	url = https://github.com/tav/nodelint.js.git
[submodule "third_party/pylibs"]
	path = third_party/pylibs
	url = https://github.com/tav/pylibs.git
