# specific files/directories

.appengine_python_sdk
.articlestore

client_libs/appengine/secret.py
client_libs/appengine/updated.py
doc/website/*.html
environ/local
misc/devboard/siteconfig.py
misc/devboard/updated.py
misc/blog/website/*.html
misc/blog/website/*.rss
misc/www/website/*.html
src/build/
src/jsutil/ampsite.js
src/zerodata/secret.py
src/zerodata/updated.py

# minified css/js files

*.min.js
*.min.css

# hidden files/directories

.DS_Store
.lock-wscript
.sass-cache
.sconsign*
.svn

# file patterns

*#*
*~
*.5
*.6
*.8
*.a
*.dylib
*.egg
*.jar
*.la
*.lo
*.o
*.pyc
*.pyo
*.so
*.swp
*.tar.bz2
*.tar.gz
*.tbz
*.tbz2
*.tgz

# file patterns (xcode)

*.mode1v3
*.mode2v3
*~.nib
*.pbxuser
*.perspective
*.perspectivev3
*.swp
*.tm_build_errors

# file patterns (windows)

*.dll
*.exe
*.ilk
*.lib
*.ncb
*.pdb
*.suo
*.vcproj.*.*.user
