<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html; charset=utf-8" http-equiv="content-type" />
		<title>${page_title}</title>
		<script src="${STATIC('amp.js')}"></script>
		<!--[if !IE]><!-->
			<link rel="stylesheet" type="text/css" href="${STATIC('site.css')}" />
		<!--<![endif]-->
		<!--[if gte IE 8]>
			<link rel="stylesheet" type="text/css" href="${STATIC('site.css')}" />
		<![endif]-->
		<!--[if lte IE 7]>
			<link rel="stylesheet" type="text/css" href="${STATIC('site.ie.css')}" />
		<![endif]-->
	</head>
	<body>
		${content}
	</body>
</html>
