/* Released into the Public Domain by tav <tav@espians.com> */

body {
	border-top: 3px solid #c32528;
	color: #444;
	font: 90%/1.5em Optima, Arial, Helvetica, sans-serif;
	line-height: 1.5em;
	margin: 0;
	padding: 3px 0;
}

a {
	color: blue;
}

code {
	background-color: #eee;
	border: 1px solid #ccc;
	padding: 3px;
}

img {
	border: 0;
}

#content {
	border-left: 1px solid #ccc;
	padding-bottom: 20px;
	padding-left: 15px;
	margin-left: 15px;
}