// Public Domain (-) 2012-2013 The Ampify Authors.
// See the Ampify UNLICENSE file for details.

#[link(name = "amp",
       vers = "0.1")];

#[crate_type = "lib"];

extern mod std;

// The builtin `u8` type is aliased to the more familiar `byte` type.
type byte = u8;

pub mod hash;
pub mod optparse;
pub mod sha256;
