# ------------------------------------------------------------------------------
# Keyspace configuration file
# ------------------------------------------------------------------------------

# For numeric values you may use the K, M, G suffices that mean 1024, 1024^2,
# 1024^3 respectively.

# List of host:port pairs. REQUIRED.
# This value must be the same on all nodes and define the
# Keyspace nodes forming the replicated system. If you only list
# one node, you are running in single-mode, without replication.
#	
# Example: 192.168.0.1:10000, 192.168.0.2:10000, 192.168.0.3:10000 
#
# The nodes use 4 consecutive port numbers for Paxos related 
# protocols, starting with the values defined here. (These are 
# different than the ports you define below such as http.port, see
# Firewall & ports info)

paxos.endpoints = 127.0.0.1:9001, 127.0.0.1:7081, 127.0.0.1:7082

# Number. REQUIRED.
# This must be different on all nodes. The first node's ID is 0,
# the second's is 1 and so on. If you are running in single-mode, put 0 here.

paxos.nodeID = 0

# Boolean. OPTIONAL. Default is true.
# Turns on (or off) system time synchronity check. This is accomplished by nodes
# exchanging timestamped UDP messages. If the timecheck module finds
# that two nodes' clock skew is greater than 2 seconds, it will halt
# the node to avoid inconsistency in master election.

timecheck.active = true

# Number. OPTIONAL. Default is 1024.
# Roughly equals to the maximum number of connections the server can handle.

io.maxfd = 1024

# String. OPTIONAL. Default is empty.
# Keyspace is running with this user if started as root for security reasons.

daemon.user = daemon
	
# Path. OPTIONAL. Default is '.'. BDB related.
# The directory where the BerkeleyDB files are stored. If you run  multiple
# instances on the same host, this must be different for all nodes.

database.dir = /var/lib/keyspace

# Number < 65536. OPTIONAL. Default is 4096. BDB related.
# Set the page size (in bytes) in the backend database. Leave this alone
# unless you know what you're doing.

database.pageSize = 4096

# Number. OPTIONAL. Default is 100M.
# Set the cache size in backend database. This is related to how much
# memory Keyspace uses for caching.

database.cacheSize = 100M

# Number. OPTIONAL. Default is 2M. BDB related.
# Sets the buffer size for transaction logs.

database.logBufferSize = 2M

# Number [msec]. OPTIONAL. Default is 60000 msec. BDB related.
# Database checkpointing occurs this often.  

database.checkpointTimeout = 60000

# Number. OPTIONAL. Default is 20.
# Number of threads used for transactional reads such as lists.

database.numReaders = 20

# Boolean. OPTIONAL. Default is false. BDB related.
# Turns on BDB verbosity for debugging.

database.verbose = false

# Number. OPTIONAL. Default is 7080.
# The port of the Keyspace client protocol. If you run multiple instances
# on the same host, this must be different for all instances.

keyspace.port = 7080

# Number. OPTIONAL. Default is 8080.
# The port of the Keyspace HTTP server.  If you run multiple instances on
# the same host, this must be different for all instances.

http.port = 8080

# Number. OPTIONAL. Default is 10000.
# The number of Paxos rounds cached.

logCache.size = 10000

# Number. OPTIONAL. Default is 100M.
# Maximum memory allocated for Paxos log cache.

logCache.maxMem = 100M

# Boolean. OPTIONAL. Default is false.
# Whether to print out debug traces.

log.trace = true

# List of strings. OPTIONAL. Default is stdout. Options are stdout, file and syslog.
# More than one can be given, seperated with commas.
#	
# Example: stdout, file, stderr

log.targets = file, stdout
	
# Path. OPTIONAL. Default is none.
# The path of the log file to use if log.targets = file is given.

log.file = /var/log/keyspace.log
	
# Boolean. OPTIONAL. Default is false.
# Whether to put a timestamp in front of log messages.

log.timestamping = true
