/* No Copyright (-) 2010 The Ampify Authors. This file is under the */
/* Public Domain license that can be found in the root LICENSE file. */

/* Element styles */

* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

body {
	background-color: #000;
	background-image: url(http://static1.ampify.it/gfx.bokehplex.jpg);
	background-repeat: repeat;
	font: 90%/1em 'Lucida Grande', 'Lucida Sans Unicode', Optima, Verdana, sans-serif;
	height: 100%;
	width: 100%;
}

a, a:visited, a:hover, a:active, a:hover {
	color: blue;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

a.promote-fb, a.promote-fb:active, a.promote-fb:hover, a.promote-fb:visited {
	background: url(http://static.ampify.it/gfx.share-facebook-sprite.png) no-repeat;
	color: transparent;
	display: block;
	float: left;
	height: 22px;
	margin: 0 16px 0 0px;
	outline; none;
	overflow: hidden;
	position: relative;
	text-indent: 9999px !important;
	top: -2px;
	vertical-align: middle;
	width: 146px;
}

a.promote-fb:hover {
	background-position: 0 -22px;
}

a.promote-fb:active {
	background-position: 0 -44px;
}

blockquote, p, dl, h1, h2, h3, h4, h5, h6, ol, ul {
	padding-bottom: 10px;
}

code {
	background-color: #f0f0f0;
	border: 1px solid #dadada;
	padding: 1px 3px;
	font-family: Monaco, "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
}

dl, ol, ul {
	padding-left: 20px;
}

h1 {
	font-size: 2.25em;
}

h1, h2 {
	color: #c32528;
	font-family: "museo-1", "museo-2", Verdana;
	letter-spacing: 1px;
	text-shadow: #eee 2px 2px 3px;
}

img {
	border: 0;
}

label, input, select, textarea {
	cursor: pointer;
}

pre {
	background-color: #fff;
	border: 1px solid #cacaca;
	color: #101010;
	font: 12px/1.4em Monaco, "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
	max-width: 600px;
	margin: 15px auto;
	overflow: auto;
	padding: 7px 0 8px 7px;
	width: 600px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 7px #cacaca;
}

pre.ascii-art {
	line-height: 1em;
	overflow: visible;
}

pre code {
	background-color: transparent;
	border: 0;
	padding: 0;
}

select {
	max-width: 200px;
}


strong {
	font-family: Museo, Verdana;
	font-size: 1.1em;
}

table, table.docutils {
	border: 0 !important;
	border-collapse: collapse !important;
	margin: 0 auto;
	text-align: left;
}

/*
table a {
	text-decoration: none;
}
*/

th {
	border-bottom: 2px solid #808096;
	padding: 8px;
}

table.docutils td {
	border-bottom: 1px solid #ccc;
	padding: 9px 8px 8px 8px;
}

ul {
	list-style-type: circle;
}

/* ID styles */

#body {
	background-color: #fff;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	padding: 5px;
}

#body-inner {
   	margin: 0 auto;
	padding: 10px 20px 215px 20px;
	width: 950px;
}

#body-outer {
	height: 100%;
}

body > #body-outer {
	height: auto;
	min-height: 100%;
}

#content {
	line-height: 1.55em;
}

#footer-espians {
	margin: 0 auto;
	text-align: center;
}

#footer {
	background-color: #161616;
	background-image: url(http://static.ampify.it/gfx.footer-background.png);
	background-position: top left;
	background-repeat: repeat-x;
	clear: both;
	color: #fff;
	height: 200px;
	margin-top: -200px;
	position: relative;
	text-align: center;
	width: 100%;
	min-width: 950px;
}

#footer-content {
	margin: 0 auto;
	padding-top: 15px;
	text-align: center;
	width: 950px;
}

#header {
	width: 100%;
	border-bottom: 1px dashed #9e9e9e;
	margin-bottom: 10px;
}

#logo {
	float: left;
}

#main {
	background-color: #fefefe;
	border: 1px solid #cacaca;
	margin: 10px auto;
	padding: 8px 14px;
	width: 700px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 7px #cacaca;
}

#main-support-page {
	width: 540px;
	margin: 0 auto;
}

#main-support-page pre {
	width: 350px;
}

#menu ul {
	list-style-type: none;
	padding: 0;
}

#menu ul li {
	background-color: #fff;
	float: left;
	margin-left: 12px;
	text-align: center;
}

#menu a {
	border-top: 2px solid #ccc;
	color: #000;
	display: block;
	font-size: 18px;
	padding-top: 6px;
	padding-bottom: 8px;
	text-decoration: none;
}

#menu a.selected, #menu a.selected:hover {
	background-color: #f6f6f6;
	border-top: 2px solid #a9151b;
}

#menu a:hover {
	border-top: 2px solid #969696;
}

#menu-follow {
	float: right;
}

#menu-follow div {
	padding: 0 5px 5px 0;
}

#menu-lang {
	margin: 0 105px 0 20px;
	float: left;
	text-align: right;
	width: 140px;
}

#menu-lang select {
	max-width: 120px;
}

#menu-lang-form {
	display: none;
	margin-top: 5px;
}

#menu-sub {
	font-size: 1em;
	padding-bottom: 10px;
	text-align: center;
}

.menu-sub-sep {
	color: #9f9f9f;
	padding: 2px;
}

#spread-button {
	background-color: #ffffff;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	padding: 5px;
}

/* Support site IDs */

#help-spread-the-word {
	float: left;
}

/* Class styles */

.absmiddle {
	vertical-align: middle;
}

.center {
	text-align: center;
}

/* clear utility classes */

.clear {
	background-color: transparent;
	border: 0px solid;
	clear: both;
	height: 0;
	margin: 0;
	padding: 0;
	width: 0;
}

.clear-left {
	background-color: transparent;
	border: 0px solid;
	clear: left;
	height: 0;
	margin: 0;
	padding: 0;
	width: 0;
}

.clear-right {
	background-color: transparent;
	border: 0px solid;
	clear: right;
	height: 0;
	margin: 0;
	padding: 0;
	width: 0;
}

/* clearfix */

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearfix {
	display: inline-block;
}

/* Hides from IE-mac \*/
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
/* End hide from IE-mac */

/* float utility classes */

.float-left {
  float: left;
  padding-bottom: 7px;
  padding-right: 7px;
}

.float-right {
  float: right;
  padding-bottom: 7px;
  padding-left: 7px;
}

/* footer classes */

.footer-follow {
	margin: 0 45px 15px 0;
	float: left;
}

.footer-follow a {
	color: #fff;
	text-decoration: underline;
	font-size: 10px;
}

.footer-follow a:hover {
	text-decoration: none;
}

.footer-follow div {
	white-space: nowrap;
}

.footer-menu {
	float: right;
	margin: 17px 50px 0 0;
	font-size: 10px;
}

.footer-menu a {
	color: #fff;
	padding-left: 5px;
	padding-right: 5px;
}

.footer-text {
	text-align: left;
}

/* quoted blocks with attribution */

.quote {
	background: transparent url(http://static.ampify.it/gfx.blockquote.gif) no-repeat 0 0;
	padding: 6px 12px 0 40px;
	color: #575757;
	font-size: 22px;
	line-height: 28px;
}

.quote-attribution {
	color: #575757;
	font-size: 14px;
	text-align: right;
	padding: 10px 12px 10px 0;
}

.quote-attribution a, .quote-attribution a:active, .quote-attribution a:visited {
	color: #575757;
	text-decoration: underline;
}

.quote-attribution a:hover {
	text-decoration: none;
}

/* Source code syntax highlighting */

.syntax .c { color: #919191 } /* Comment */
.syntax .cm { color: #919191 } /* Comment.Multiline */
.syntax .cp { color: #919191 } /* Comment.Preproc */
.syntax .cs { color: #919191 } /* Comment.Special */
.syntax .c1 { color: #919191 } /* Comment.Single */

.syntax .err { color: #a61717; background-color: #e3d2d2 } /* Error */

.syntax .g { color: #101010 } /* Generic */
.syntax .gd { color: #d22323 } /* Generic.Deleted */
.syntax .ge { color: #101010; font-style: italic } /* Generic.Emph */
.syntax .gh { color: #101010 } /* Generic.Heading */
.syntax .gi { color: #589819 } /* Generic.Inserted */
.syntax .go { color: #6a6a6a } /* Generic.Output */
.syntax .gp { color: #6a6a6a } /* Generic.Prompt */
.syntax .gr { color: #d22323 } /* Generic.Error */
.syntax .gs { color: #101010 } /* Generic.Strong */
.syntax .gt { color: #d22323 } /* Generic.Traceback */
.syntax .gu { color: #101010 } /* Generic.Subheading */

.syntax .k { color: #c32528 } /* Keyword */ /* espian red */
.syntax .k { color: #ff5600 } /* Keyword */ /* orangy */
.syntax .kc { color: #ff5600 } /* Keyword.Constant */
.syntax .kd { color: #ff5600 } /* Keyword.Declaration */
.syntax .kd { color: #ff5600 } /* Keyword.Declaration */
.syntax .kn { color: #ff5600 } /* Keyword */
.syntax .kp { color: #ff5600 } /* Keyword.Pseudo */
.syntax .kr { color: #ff5600 } /* Keyword.Reserved */
.syntax .kt { color: #ff5600 } /* Keyword.Type */

.syntax .l { color: #101010 } /* Literal */
.syntax .ld { color: #101010 } /* Literal.Date */

.syntax .m { color: #3677a9 } /* Literal.Number */ /* darkish pastely blue */
.syntax .m { color: #00a33f } /* Literal.Number */ /* brightish green */
.syntax .mf { color: #00a33f } /* Literal.Number.Float */
.syntax .mh { color: #00a33f } /* Literal.Number.Hex */
.syntax .mi { color: #00a33f } /* Literal.Number.Integer */
.syntax .il { color: #00a33f } /* Literal.Number.Integer.Long */
.syntax .mo { color: #00a33f } /* Literal.Number.Oct */

.syntax .bp { color: #a535ae } /* Name.Builtin.Pseudo */
.syntax .n { color: #101010 } /* Name */
.syntax .na { color: #bbbbbb } /* Name.Attribute */
.syntax .nb { color: #bf78cc } /* Name.Builtin */ /* pastely purple */
.syntax .nb { color: #af956f } /* Name.Builtin */ /* pastely light brown */
.syntax .nb { color: #a535ae } /* Name.Builtin */ /* brightish pastely purple */
.syntax .nc { color: #101010 } /* Name.Class */
.syntax .nd { color: #6d8091 } /* Name.Decorator */
.syntax .ne { color: #af956f } /* Name.Exception */
.syntax .nf { color: #101010 } /* Name.Function */
.syntax .ni { color: #101010 } /* Name.Entity */
.syntax .nl { color: #101010 } /* Name.Label */
.syntax .nn { color: #101010 } /* Name.Namespace */
.syntax .nn { color: #101010 } /* Name.Namespace */
.syntax .no { color: #101010 } /* Name.Constant */
.syntax .nx { color: #101010 } /* Name.Other */
.syntax .nt { color: #6d8091 } /* Name.Tag */
.syntax .nv { color: #101010 } /* Name.Variable */
.syntax .vc { color: #101010 } /* Name.Variable.Class */
.syntax .vg { color: #101010 } /* Name.Variable.Global */
.syntax .vi { color: #101010 } /* Name.Variable.Instance */
.syntax .py { color: #101010 } /* Name.Property */

.syntax .ow { color: #101010 } /* Operator.Word */

.syntax .o { color: #101010 } /* Operator */
.syntax .p { color: #101010 } /* Punctuation */

.syntax .s { color: #dd1144 } /* Literal.String */ /* darkish red */
.syntax .s { color: #c32528 } /* Literal.String */ /* espian red */
.syntax .s { color: #39946a } /* Literal.String */ /* pastely greeny */
.syntax .s { color: #00a33f } /* Literal.String */ /* brightish green */
.syntax .s { color: #5d90cd } /* Literal.String */ /* pastely blue */
.syntax .sb { color: #5d90cd } /* Literal.String.Backtick */
.syntax .sc { color: #5d90cd } /* Literal.String.Char */
.syntax .sd { color: #5d90cd } /* Literal.String.Doc */
.syntax .se { color: #5d90cd } /* Literal.String.Escape */
.syntax .sh { color: #5d90cd } /* Literal.String.Heredoc */
.syntax .si { color: #5d90cd } /* Literal.String.Interpol */
.syntax .sr { color: #5d90cd } /* Literal.String.Regex */
.syntax .ss { color: #5d90cd } /* Literal.String.Symbol */
.syntax .sx { color: #5d90cd } /* Literal.String.Other */
.syntax .s1 { color: #5d90cd } /* Literal.String.Single */
.syntax .s2 { color: #5d90cd } /* Literal.String.Double */

.syntax .w { color: #101010 } /* Text.Whitespace */
.syntax .x { color: #101010 } /* Other */

.syntax.bash .nb { color: #101010 }
.syntax.bash .nv { color: #c32528 }

.syntax.css .k { color: #606060 }
.syntax.css .nc { color: #c32528 }
.syntax.css .nf { color: #c32528 }
.syntax.css .nt { color: #c32528 }

/* classes for support pages */

.community-section {
	margin: 10px auto 10px auto;
	width: 500px;
}

.community-section-heading {
	font-size: 1.6em;
	margin-top: 10px;
}

.community-section-heading span {
	background-color: #efd7d7;
	line-height: 1.7em;
}

.community-section-text {
	line-height: 1.6em;
	padding: 10px 0 0 50px;
}

.support-page-banner {
	font-size: 1.2em;
	line-height: 1.6em;
	margin: 20px 0;
}

.support-page-banner-text {
	background-color: #f0f0f0;
}

/* classes for the main support page */

.promote {
	margin: 5px 0 0px 26px;
}

.promote-retweet {
	margin-top: 2px;
	float: left;
}

.promote-yahoo-buzz {
	margin: -2px 15px 0 0;
	float: left;
	padding-bottom: 5px;
}

.promote-google-buzz, .promote-google-buzz:active, .promote-google-buzz:visited, .promote-google-buzz:hover {
	background: url(http://static.ampify.it/icon.google-buzz.png) no-repeat 0 3px;
	color: #666;
	float: left;
	font-size: 0.9em;
	font-weight: bold;
	margin-top: -2px;
	padding: 0 10px 5px 20px;
	text-decoration: none;
}

.promote-google-buzz:hover {
	text-decoration: underline;
}

.share-text {
	font-size: 18px;
	line-height: 24px;
	margin: 0px 0 12px 26px;
	color: #aaa;
}

/* thanks to mashable.com for these wonderful share icons + css!! thanks guys -- you rock!! */

ul.share-buttons {
	line-height: normal;
	margin: 12px 0 0 24px;
	padding: 0;
}

.share-buttons li {
	display: inline;
	float: left;
	list-style-type: none;
	margin: 0 18px 12px 0;
	padding-top: 1px;
}

.share-buttons a {
	background: url(http://static.ampify.it/gfx.mashable-syndication.gif) no-repeat;
	color: #575757;
	display: block;
	font-size: 7px;
	height: 14px;
	overflow: hidden;
	padding: 33px 0 0;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	width: 46px;
}

.share-buttons a:hover {
	text-decoration:none;
}

.share-buttons .delicious a {
	background-position: -138px 0;
}

.share-buttons .delicious a:hover {
	background-position: -138px -47px;
}

.share-buttons .digg a {
	background-position: 0 0;
}

.share-buttons .digg a:hover {
	background-position: 0 -47px;
}

.share-buttons .facebook a {
	background-position: -184px 0;
}

.share-buttons .facebook a:hover {
	background-position: -184px -47px;
}

.share-buttons .google a {
	background-position: -276px 0;
}

.share-buttons .google a:hover {
	background-position: -276px -47px;
}

.share-buttons .myspace a {
	background-position: -230px 0;
}

.share-buttons .myspace a:hover {
	background-position: -230px -47px;
}

.share-buttons .reddit a {
	background-position: -414px 0;
}

.share-buttons .reddit a:hover {
	background-position: -414px -47px;
}

.share-buttons .sharethis a {
	background-position: -460px 0;
}

.share-buttons .sharethis a:hover {
	background-position: -460px -47px;
}

.share-buttons .stumbleupon a {
	background-position: -92px 0;
}

.share-buttons .stumbleupon a:hover {
	background-position: -92px -47px;
}

.share-buttons .technorati a {
	background-position: -322px 0;
}

.share-buttons .technorati a:hover {
	background-position: -322px -47px;
}

.share-buttons .twitter a {
	background-position: -46px 0;
}

.share-buttons .twitter a:hover {
	background-position: -46px -47px;
}

.share-buttons .yahoo a {
	background-position: -368px 0;
}

.share-buttons .yahoo a:hover {
	background-position: -368px -47px;
}

/* Unsorted */

.columns {
  max-width: 940px;
  width: 940px;
}

.column, .column-last {
  float: left;
	/*
  height: 180px;
	   */
  padding: 0 10px 0 0;
  position: relative;
  width: 227px;
}

.column-last {
  padding: 0 0 0 0;
}

.column-text {
  font-size: 12px;
  line-height: 18px;
  margin: 10px 0 20px 15px;
}

.column-footer {
  background-image: url(bottom.gif);
  background-repeat: no-repeat;
  background-color: transparent;
/*
	background-attachment: scroll;
	   */
}

.column-left {
  border-right: 0px solid #f00;
  float: left;
  width: 455px;
}

.column-left-text {
  font-size: 12px;
  line-height: 18px;
  margin-left: 12px;
}

.column-right {
  float: right;
  width: 485px;
}

.follow {
  display: block;
  list-style-type: none;
  margin: 12px 0px 0px 24px;
  padding: 0px;
  text-align: center;
}

.follow li {
  float: left;
  display: block;
  margin-right: 30px;
  margin-bottom: 18px;
}

.follow a {
  color: #575757;
  display: block;
  font-size: 10px;
  margin-top: 7px;
  text-decoration: underline;
  text-decoration: none;
  font-weight: bold;
}

.follow a:hover {
  text-decoration: none;
}

.get-left {
  float: left;
  width: 230px;
  margin-right: 12px;
  font-weight: bold;
}

.get-right {
  float: right;
  width: 230px;
  margin-right: 12px;
  font-weight: bold;
}

.get-item {
  border: 1px solid #ccc;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  margin-top: 10px;
  font-weight: normal;
  margin: 12px 0 12px 0;
  padding: 10px;
}

.get-item img {
  float: left;
  margin-right: 5px;
  padding-top: 3px;
  vertical-align: middle;
}

.headline {
  margin-bottom: 10px;
  text-align: center;
  line-height: 36px;
}

.headline-text {
  background-color: #f0f0f0;
  font-size: 20px;
}

.headline-text-small {
  background-color: #f0f0f0;
  font-size: 20px;
}

.lede {
  background-color: #dfdfdf;
}

.link {
  font-size: 16px;
}

.oneoff {
  margin: 12px 12px 12px 0;
  font-size: 14px;
  line-height: 20px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 12px 0 12px 0;
}

.optional {
  color: #666;
  font-size: 9px;
  vertical-align: super;
}

/* other */

#callout {
  background-color: #fff;
  margin-bottom: 10px;
/*
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  -moz-border-radius-bottomleft: 15px;
  -moz-border-radius-bottomright: 15px;
  -webkit-border-bottom-left-radius: 15px;
  -webkit-border-bottom-right-radius: 15px;
*/
  padding: 10px;
}

#feature {
  float: right;
}

#supporter-form {
  font-size: 14px;
  line-height: 26px;
  margin: 8px 0 0 0;
  padding-top: 5px;
}

#supporter-form td {
  padding-top: 10px;
  vertical-align: top;
}

#supporter-form .label {
  text-align: right;
  width: 205px;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 12px;
  font-weight: bold;
  white-space: nowrap;
}

.input-item input, .input-item textarea {
  /* thanks soundcloud! */
  background-image: url(http://static.ampify.it/gfx.button-repeat.png);
  background-position: 0 -1200px;
  background-repeat: repeat-x;
  border: 1px solid #ccc;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  color: #333;
  font-size: 20px;
  max-width: 220px;
  padding: 3px 0 3px 3px;
  width: 220px;
}

.input-item select {
  font-size: 16px;
}

.male {
  border: 2px solid #70b1e6;
  background-color: #eaf3fb;
}

.male .label {
  color: #70b1e6;
}

.female {
  border: 2px solid #ed6aa4;
  background-color: #fee5f5;
}

.female .label {
  color: #ed6aa4;
}

#supporter-submit {
  text-align: center;
  padding: 0 0 15px 0;
}

#support {
  font-size: 20px;
  margin-bottom: 15px;
  margin-top: 5px;
}

.male-counter {
  color: #70b1e6;
  font-size: 12px;
  margin-bottom: -50px;
  white-space: nowrap;
}

.female-counter {
  color: #ed6aa4;
  font-size: 12px;
  padding-left: 24px;
  margin-bottom: -50px;
  white-space: nowrap;
}


.tav-thanks {
  font-size: 14px;
  line-height: 26px;
  margin: 12px 12px 12px 0;
  color: #575757;
  color: #000;
  font-style: italic;
}

.tav-thanks img {
  float: right;
  margin-left: 12px;
}

.tav-thanks div {
  text-align: right;
  font-size: 12px;
  line-height: 20px;
  margin-top: 12px;
}
/*
.tav-thanks a {
  color: #000;
  text-decoration: underline;
}  

.tav-thanks a:hover {
  text-decoration: none;
}  
*/

.the-disqus-section {
  margin: 12px 12px 12px 0;
  min-height: 500px;
}

.the-disqus-section h3 {
  margin-top: 10px;
  margin-bottom: 12px;
  font-size: 20px;
}

.action-items {
  font-size: 14px;
  line-height: 26px;
  margin: 10px 24px; 20px 24px;
}

.action-left {
  float: left;
  margin-right: 20px;
}

.action-link {
  margin-top: 20px;
}

.action-text {
  margin-top: 20px;
}
